*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(10 10 31);
    color: white;
    font-family: "Outfit", sans-serif;
}
.left{
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 80px;
    background-color: #0e0e46;
    position: fixed;
    top: 0;
    z-index: 1000;
    width:100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
nav a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
nav.scrolled {
    background-color: rgba(14, 14, 70, 0.7); 
    transition: background-color 0.3s;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
    font-size: 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
ul li a:hover{
    cursor: pointer;
    color: rgb(121, 121, 205);
}
.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 200px 0;
}

.leftsection{
    margin: 50px;
    font-size: 65px;
}
.rightsection{
    margin-top: -10px;
    margin-right: 115px;
}
.round img {
    width: 475px;
    height: 475px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.round {
    background-color: rgb(75, 75, 186);
    border-radius: 50%;
    height: 500px;
    width: 500px;
    overflow: hidden;
    margin-top: 50px;
    position: relative;
}
button{
    padding-top: 26px;
    padding-bottom: 48px;
    background-color:#726dd4;
    margin-left: -725px;
    margin-top: 441px;
    height: 50px;
    width: 250px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.gitimg{
    height: 40px;
    padding: 0;
    margin: -10px 5px;
}
button:hover{
    background-color: #534dcd;
}
button a{
    text-decoration: none;
    color: white;
}
.lavender{
    color:rgb(195, 136, 251);
    font-weight: bold;
}
#element{
    color: rgb(195, 136, 251);
    font-weight: bold;
}
.secondSection{
    max-width: 80vw;
    margin: auto;
    height: 555px;
}
main hr{
    border: 0;
    background-color:#9c97f1;
    height: 2px;
    margin: 60px -168px;
}
.secondSection h1{
    font-size: 1.99rem;
}
.text-gray{
    color: gray;
}

.box{
    display: flex;
}
.card{
    /* background-color: rgb(21, 20, 72); */
    margin:50px 40px;
}
.card img{
    height: 195px;
}
.card h1{
    text-align: center;
    margin-top: -40px;
    margin-left:6px;
}

.thirdSection{
    max-width: 80vw;
    margin: auto;
    height: 2500px;
}
.thirdSection h1{
    font-size: 1.99rem;
}

.porject-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.thirdSection span{
    color: rgb(183, 180, 180);
}
.content{
    height: 500px;
    width: 600px;
    background-color: rgb(21, 20, 72);
    margin-top: 50px;
    border-radius: 10px;
}
.vote-content{
    height: 410px;
    border-radius: 10px;
    margin-left: 68px;
    margin-top: 50px;
}
.content h2{
    margin: -400px 635px;
    width: 50%;
    font-size: 2.8rem;
    font-weight: bold;
}
.content p{
    margin-left:640px;
    margin-top: 440px;
    font-size: 1.2rem;
    width: 80%;
    line-height: 1.7;
}
.content button{
    margin-left: 645px;
    margin-top: 55px;
    padding: 10px 20px;
    background-color: #726dd4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
}
.content button:hover{
    background-color: #645edb;
}
.content button a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.login-content{
    height:330px;
    margin-top: 90px;
    margin-left: 45px;
}
.calculator-content{
    height: 425px;
    margin-top: 40px;
    margin-left: 115px;
}


@media screen and (max-width: 2800px) {
    main hr{
        margin: 60px -110px;
    }
    .card img{
        margin: 50px 35px;
    }
    button{
        margin-left:-710px;
        margin-top: 399px;
    }
}